.slider-image-gallery {
  position: relative;

  .loading {
    background-color: $color-grey-80-percent;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    img {
      animation-duration: 1.6s;
      animation-iteration-count: infinite;
      animation-name: jssorl-004-double-tail-spin;
      animation-timing-function: linear;

      @keyframes jssorl-004-double-tail-spin {
        from { transform: rotate(0deg); }
        to { transform: rotate(360deg); }
      }

      height: 38px;
      margin-top: -19px;
      position: relative;
      top: 50%;
      width: 38px;
    }
  }

  .bullet-navigator {
    bottom: 30px;
    position: absolute;

    .bullet-prototypeav {
      .bullet {
        @include media-breakpoint-up(md) {
          fill: $color-white;
          stroke: $color-white;
        }

        fill: $color-gold;
        stroke: $color-gold;
      }
    }

    .bullet {
      @include media-breakpoint-up(md) {
        fill: transparent;
      }

      fill: $color-white;
      stroke: $color-white;
      stroke-miterlimit: 10;
      stroke-width: 1200px;
    }

    .bullet-prototype {
      @include media-breakpoint-up(md) {
        height: 20px;
        width: 20px;
      }

      cursor: pointer;
      height: 14px;
      position: absolute;
      width: 14px;

      &:hover {
        .bullet {
          fill: $color-white;
          fill-opacity: .7;
          stroke: $color-white;
          stroke-opacity: .5;
        }
      }

      &.idn {
        opacity: .3;
      }
    }

    svg {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.slide-container {
  position: absolute;
}
