<div class="container-fluid dual-image-block">
  <div class="row">
    <div class="col-12 col-md-6 image-col">
      <img class="img" src="{{ props.imageLeft.one.getUrl('releaseCover') }}" />
    </div>
    <div class="col-12 col-md-6 image-col">
      <img class="imag" src="{{ props.imageRight.one.getUrl('releaseCover') }}" />
    </div>
  </div>
</div>
