@import '~bootstrap/scss/mixins/breakpoints';
@import '../../_styles/variables';

.dual-image-block {
  @include media-breakpoint-up(md) {
    margin-bottom: 1rem;
  }

  margin-bottom: 3rem;

  img {
    width: 100%;
  }

  .image-col {
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }

    margin-bottom: 2rem;
  }
}
