@import '~bootstrap/scss/mixins/breakpoints';
@import '../../_styles/variables';

.text-block {
  p {
    @include media-breakpoint-up(xs) {
      font-size: 24px;
    }

    @include media-breakpoint-up(md) {
      font-size: 30px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 36px;
    }

    font-size: 20px;
    text-align: center;
  }
}
