@import '../../_styles/variables';

$hamburger-hover-opacity: 1;
$hamburger-layer-color: $color-white;
$hamburger-layer-spacing: 5px;
$hamburger-layer-width: 30px;
$hamburger-padding-x: 5px;
$hamburger-padding-y: 5px;
$hamburger-types: ( spin );
