# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=

# The secure key Craft will use for hashing and encrypting data
CRAFT_SECURITY_KEY=

# Database Configuration
CRAFT_DB_DRIVER=pgsql
CRAFT_DB_SERVER=pgsql
CRAFT_DB_PORT=5432
CRAFT_DB_DATABASE=short-shadows
CRAFT_DB_USER=short-shadows
CRAFT_DB_PASSWORD=short-shadows
CRAFT_DB_SCHEMA=public
CRAFT_DB_TABLE_PREFIX=craft

# The URI segment that tells Craft to load the control panel
CP_TRIGGER=admin

FORWARD_APP_PORT=
FORWARD_DB_PORT=

# DigitalOcean spaces config
ASSET_BASE_URL=
ASSET_ACCESS_KEY_ID=
ASSET_SECRET_ACCESS_KEY=
ASSET_ENDPOINT=
ASSET_REGION=
ASSET_BUCKET=
ASSET_SUBFOLDER=
