version: '3.9'
services:
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - '${FORWARD_APP_PORT:-8080}:8080'
    env_file: .env
    networks:
      - craft
    depends_on:
      - pgsql
    secrets:
      - id_rsa
  pgsql:
    image: postgres:13
    ports:
      - '${FORWARD_DB_PORT:-5433}:5432'
    environment:
      PGPASSWORD: '${DB_PASSWORD:-secret}'
      POSTGRES_DB: '${DB_DATABASE}'
      POSTGRES_USER: '${DB_USER}'
      POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
    volumes:
      - 'db:/var/lib/postgresql/data'
    networks:
      - craft
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "${DB_DATABASE}", "-U", "${DB_USER}"]
networks:
  craft:
    driver: bridge
volumes:
  db:
    driver: local
secrets:
  id_rsa:
    file: ~/.ssh/id_rsa
