@import '~bootstrap/scss/mixins/breakpoints';
@import '../../_styles/variables';

.mobile-menu {
  color: $color-white;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  a {
    color: $color-white;
    font-size: 3rem;

    @include media-breakpoint-up(sm) {
      font-size: 2.5rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
