body,
html {
  overflow-x: hidden;
}

body {
  background-color: $color-black;
  padding: 1rem;
}

.content {
  background-color: $color-black;
}

.container-fluid {
  max-width: map-get($container-max-widths, xxxl);
  padding: 0;
}

h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 30px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 18px;
}

@include media-breakpoint-up(md) {
  h1,
  .h1 {
    font-size: 64px;
  }

  h2,
  .h2 {
    font-size: 48px;
  }

  h3,
  .h3 {
    font-size: 36px;
  }

  h4,
  .h4 {
    font-size: 30px;
  }

  h5,
  .h5 {
    font-size: 24px;
  }

  h6,
  .h6 {
    font-size: 20px;
  }
}

@include media-breakpoint-up(xl) {
  h1,
  .h1 {
    font-size: 80px;
  }

  h2,
  .h2 {
    font-size: 64px;
  }

  h3,
  .h3 {
    font-size: 48px;
  }

  h4,
  .h4 {
    font-size: 36px;
  }

  h5,
  .h5 {
    font-size: 30px;
  }

  h6,
  .h6 {
    font-size: 24px;
  }
}
