@font-face {
  font-family: 'Stormfaze';
  src: url('/static/fonts/stormfaze.woff2') format('woff2'),
       url('/static/fonts/stormfaze.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
