@font-face {
  font-family: 'Stormfaze';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/stormfaze.woff2') format('woff2'), url('/static/fonts/stormfaze.woff') format('woff');
}
