// Vertical spacing
$root-font-size-base: 12px;
$root-font-size-tablet: 16px;
$root-font-size-desktop: 18px;
$root-font-size-large-desktop: 24px;

// Colors
$color-black: #000;
$color-white: #fff;

$body-color: $color-black;
