// Vertical spacing
$root-font-size-base: 12px;
$root-font-size-tablet: 16px;
$root-font-size-desktop: 18px;
$root-font-size-large-desktop: 24px;

// Colors
$color-black: #000;
$color-white: #fff;

// sans serif fonts from $font-family-sans-serif in Bootstrap
$font-family-base: 'Cabin', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$body-color: $color-black;
