// Vertical spacing
$root-font-size-base: 12px;
$root-font-size-tablet: 16px;
$root-font-size-desktop: 18px;
$root-font-size-large-desktop: 24px;

// Colors
$color-black: #000;
$color-gold: #ffd000;
$color-grey-5-percent: #f2f2f2;
$color-grey-80-percent: #323232;
$color-grey-90-percent: #191919;
$color-white: #fff;

$font-directory: '/static/fonts';
// sans serif fonts from $font-family-sans-serif in Bootstrap
$font-family-base: 'Cabin', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// Add xxl and xxxl breakpoint in grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1450px,
  xxxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1350px,
  xxxl: 1520px
);

$body-color: $color-grey-90-percent;
