@import '~bootstrap/scss/mixins/breakpoints';
@import 'variables';

html {
  font-size: $root-font-size-mobile;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: $root-font-size-small-tablet;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: $root-font-size-tablet;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: $root-font-size-desktop;
  }
}

@include media-breakpoint-up(xxl) {
  html {
    font-size: $root-font-size-large-desktop;
  }
}
