<div class="container-fluid header">
  <div class="row">
    <div class="col">
      <a href="/" class="brand h3">Short Shadows</a>
      <div class="right">
        <ul class="menu d-none d-sm-flex">
          {% include '_components/menu-links' %}
        </ul>
        {% include '_components/hamburger' %}
      </div>
    </div>
  </div>
</div>
