{% set hasMenuItems = menuLinks.menuLinkMatrix.all|length > 0 %}
{% set hasOnlyOneItem = menuLinks.menuLinkMatrix.all|length == 1 %}

<div class="container-fluid header">
  <div class="row">
    <div class="col{{ hasMenuItems ? ' has-menu-items' : '' }}{{ hasOnlyOneItem ? ' has-only-one-item' : '' }}">
      <a href="/" class="brand h3">Short Shadows</a>
      {% if hasMenuItems %}
        <div class="right">
          <ul class="menu d-none d-sm-flex">
            {% include '_components/menu-links' %}
          </ul>
          {% include '_components/hamburger' %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
