<section class="header container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="brand d-none d-md-block">Jeepsy Cafe</h1>
      <div class="right">
        <ul class="menu d-none d-md-flex">
          {% for link in menuLinks.menuLinkMatrix.all %}
            {% set href = link.page.count > 0 ? link.page.one.url : link.href %}
            <li>
              <a href="{{ href }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="social-links">
          {% for link in socialLinks.socialLinkMatrix.all %}
            <li>
              {% include '_components/social-media-link' with { props: link } only %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
