<div class="container-fluid header">
  <div class="row">
    <div class="col">
      <a href="/" class="brand h3">Short Shadows</a>
      <div class="right">
        <ul class="menu d-none d-sm-flex">
          {% for link in menuLinks.menuLinkMatrix.all %}
            {% set href = link.page.count > 0 ? link.page.one.url : link.href %}
            <li>
              <a href="{{ href }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
