.header {
  @include media-breakpoint-up(md) {
    height: 8rem;
    margin-bottom: -8rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include media-breakpoint-up(lg) {
    height: 10rem;
    margin-bottom: -10rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  color: $color-white;
  height: 4rem;
  position: relative;
  z-index: 1;

  .row {
    height: 100%;
  }

  .col {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .brand {
    @include media-breakpoint-up(md) {
      font-size: 20px;
      letter-spacing: 6px;

      &::after {
        left: -3px;
      }
    }

    @include media-breakpoint-up(lg) {
      font-size: 24px;
      letter-spacing: 8px;

      &::after {
        left: -4px;
      }
    }

    position: relative;
    text-transform: uppercase;

    &::after {
      border: 2px currentColor solid;
      bottom: 0;
      content: '';
      position: absolute;
      width: 100%;
    }
  }

  .right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-left: auto;
  }

  .menu {
    flex: 1;
    max-width: 500px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0;

    a {
      color: $color-white;
      text-transform: uppercase;

      &:hover {
        color: $color-gold;
        text-decoration: none;
      }
    }
  }

  .social-links {
    width: 160px;

    a {
      @include media-breakpoint-up(md) {
        color: $color-white;
      }

      color: $color-grey-80-percent;
    }

    ul {
      justify-content: space-between;
    }
  }
}
