.gallery-block {
  .image {
    height: auto;
    width: 100%;
  }

  .image-col {
    margin-bottom: 1rem;
  }

  .title-row {
    h2 {
      text-align: center;
    }
  }

  .credit-row {
    .col {
      text-align: right;
    }
  }
}
