$pswp__assets-path: '/static/img/photoswipe/default-skin/'; /* stylelint-disable-line */

@import '~photoswipe/src/css/main';
@import '~photoswipe/src/css/default-skin/default-skin';

.gallery-item {
  margin-bottom: 0;
}
