{% extends '_layout' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="cover-image-col col">
        <img alt="Cover image" src="{{ entry.coverImage.one.url }}" />
      </div>
    </div>
  </div>
{% endblock content %}
