@import '../../_styles/variables';

.slideout-menu {
  bottom: 0;
  display: none;
  overflow-y: scroll;
  position: fixed;
  top: 1rem;
  width: 256px;
  z-index: 0;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open {
  .slideout-menu {
    display: block;
  }
}
